
/* Navigation Things */

.nav-li {
    list-style-type: none;
    font-size: 1.2rem; 
    margin-right: 3rem; 
   
}

nav li a {
    text-decoration: none;
}

.nav-pages {
    display: none; 
    padding: .8rem; 
    text-align: center;
    /* border: 1px solid red; */
}

/* Buttons  */
.book-top {
    margin: 2rem; 
}

.book-top, 
.book-bottom {
    padding: 1rem 5rem 1rem 2rem;  
    border-radius: 20px; 
}

.hamburger {
    margin-right: 1rem; 
}

/* Page Sections */
header {
    display: flex; 
    flex-direction: row-reverse;
    justify-content: space-around;
    /* background-color: white; 
    position: fixed; 
    width: 100%; */
}

.sectionOne {
   background-color: darkgrey; 
    /* background: url(images/kidsplaying.jpg) no-repeat; */
    /* height: 320px;  */
  
}

.sectionOne h1 {
    padding-top: 8rem; 
    margin: 0 2rem; 
}

.sectionTwo {
    margin: 4rem 2rem; 
}

.event-type-container {
    margin: 2erm; 
}

.event-type {
    margin: 1rem 1rem 3rem; 
}

.event-type img {
    display: block; 
    margin: 0 auto 2rem; 
}

.event-type hr {
    margin-top: 1.8rem; 
    width: 150px; 
}

.sectionVideos {
    display: flex; 
    flex-wrap: wrap; 
    justify-content: space-around;
}

.responsive-video {
    min-width: 20%; 
    margin: .8rem; 
}

.sectionThree {
    background-color: grey; 
   
    margin-bottom: 0;
    margin-top: 3rem; 
    display: flex; 
    flex-wrap: wrap; 
    align-items: center;
    justify-content: center; 
    align-items: baseline; 
}

.sectionThree h2 {
   
    padding: 1rem 1rem 0; 
}

.book-bottom {
    height: 3.375rem; 
    margin-bottom: 1rem; 
    
}


footer {
    background-color: darkgrey; 
    margin-top: 0; 
    padding: 1.3rem;
    text-align: center; 
}

/* Media Queries */
@media (min-width: 880px) {
    .event-type-container {
        display: flex; 
        margin: 2em; 
    }

    .sectionThree {
        padding: 2.4rem; 
        justify-content: space-around;
    }
}

@media (min-width: 992px) {
    .nav-ul {
        display: flex; 
        align-items: center; 
    }

    .first-nav-item {
        margin-right: auto; 
    }

    .nav-pages {
        display: block; 
    }

    .hamburger {
        display: none; 
    }

    header {
        display: block; 
    }

    .sectionThree h2 {
        padding: 1rem 5rem 1rem 3rem;  
    }
   

}


